.a{
    color: #fff;
}

.a:visited{
    color: #fff;
    text-decoration: none;
}
.a:hover{
    color: #eb7800;
    transition: 0.3s;
  
}
.a:active{
    font-size: 16px;
    transition: 0.1s;
}
.white-btn:visited{
    color: white;
}
.a1{
    color: #000;
    transform: scale(1);
}
.a1:hover{
    color: #eb7800;
}
.a1:active{
    color: #eb7800;
    background: none;
    transform: scale(1.1);
}
.ttl_cont input:active{
    transform: scale(1.1);
    transition-duration: .2s;
}
.second input:active{
    transform: scale(1.1);
    transition-duration: .2s;
}
.t4:active{
    transform: scale(1.1);
    transition-duration: .2s;
}
.t5:active{
    transform: scale(1.1);
    transition-duration: .2s;
}
.send:active{
    transform: scale(1.1);
    transition-duration: .2s;
}