 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');



 body {
     font-family: Roboto Slab, Arial, sans-serif;
     width: 100%;
 }

 nav {
     float: left;
     width: 100%;
     height: 60px;
     background: #344051;
     position: fixed;
     z-index: 3;
 }

 h2 {
     transform: scale(1);
     transition: all 0.2s;
     text-align: center;
 }

 .logo {
     color: #fff;
     font-size: 28px;
     line-height: 60px;
     float: left;
 }

 .menu {
     float: left;
 }

 .a {
     text-decoration: none;

 }


 .menu li {
     float: left;
     color: #fff;
     line-height: 60px;
     margin-right: 39px;
     font-size: 14px;
     text-transform: uppercase;
 }

 .main {
     width: 100%;
     height: 100%;
     background: url(../img/logoCSS.png) 90% 25%/ auto 65% no-repeat, url(../img/dk.png) 90% 25%/100% 100% no-repeat;
 }

 .ttl_cont {
     float: left;
     color: darkslateblue;
     text-align: center;

 }

 .ttl_cont h1 {
     font-size: 75px;
     font-weight: bold;
 }

 .ttl_cont h4 {
     font-size: 25px;
     color: #79818d;
 }

 .ttl_cont input {
     height: 40px;
     width: 150px;
     text-align: center;
     margin-left: 80px;
     margin-right: 40px;
     border: 1px solid darkslateblue;
     padding: 5px 10px;
     margin-top: 55px;
     border-radius: 5px;
     color: darkslateblue;
     background-color: white;
     transform: scale(1);
     background: none;
 }

 .second input {
     height: 40px;
     width: 150px;
     text-align: center;
     border: 1px solid #758bbb;
     border-radius: 5px;
     margin-top: 40px;
     color: #fff;
     margin-bottom: 60px;
     transform: scale(1);
     background: #758bbb;
 }

 .Third {
     padding-top: 50px;
     padding-bottom: 200px;
     background: url(../img/dk.png) 90% 25%/100% 100% no-repeat;
 }

 .Third h2 {
     margin: 50px 0 100px 0;
 }

 .Third ul {
     padding: 0;
     display: flex;
     flex-direction: row;
 }



 .Third li {
     font-size: 18px;
     text-align: center;
     margin: 0 5px;
     padding: 5px 3px;


 }

 .sp {
     font-size: 20px;

     color: #eb7800;
 }

 .p1 {
     font-size: 18px;
 }

 .class1 {
     display: flex;
     margin-left: 310px;
     color: #2f4154;
 }

 .b1 {
     width: 823px;
     height: 100px;
     margin-left: 100px;
 }

 .class1 span {
     font-size: 20px;
     margin-bottom: 10px;
 }

 .class1 p {
     font-size: 15px;
 }

 .t4 {
     color: white;
     font-size: 20px;
     text-transform: uppercase;
     margin-top: 40px;
     margin-left: 310px;
     border: 1px solid #00b6af;
     background-color: #00b6af;
     border-radius: 5px;
     width: 200px;
     height: 50px;
 }

 .Fifth {
     padding: 50px 40px;
     margin: 100px 450px 100px 450px;
     display: flex;
     flex-direction: column;
     align-content: center;
     box-shadow: 0 0 15px #e4e4e4;
 }

 .Fifth h2 {
     color: #102032;
 }

 .Fifth h4 {
     color: #102032;
     margin-bottom: 20px;
     text-transform: uppercase;
 }

 .Fifth select {
     border: 1px solid #efefef;
     margin-bottom: 49px;
     height: 57px;
     background-color: #efefef;
     color: #b4b4b4;
 }

 .block {
     font-weight: 400;
     font-size: 18px;
     color: #4a515c;
     display: flex;
     flex-direction: column;
 }

 .t5 {
     color: white;
     margin: 0 200px;
     height: 50px;
     border: 1px solid #00b6af;
     background-color: #00b6af;
     border-radius: 5px;
 }

 .Sixth {
     padding-top: 50px;
     padding-bottom: 150px;
     background: url(../img/dk.png) 90% 25%/100% 100% no-repeat;
 }

 .Sixth h2 {
     margin: 100px 0;
 }

 .Sixth ul {
     padding: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }

 .Sixth li {
     line-height: 50px;
     font-size: 18px;
     text-align: center;
     margin: 0 5px;
     padding: 5px 3px;
     align-content: space-between;
 }

 .Sk {
     font-size: 30px;
     font-weight: bold;
     color: #102032;
 }

 .pp2 {
     font-size: 18px;
 }

 .mih {
     font-size: 20px;
     font-weight: bold;
 }

 .foot {
     margin-top: 100px;
     padding-top: 50px;
     text-align: center;
     color: white;
     padding-bottom: 200px;
     background: url(../img/Fon.png) 90% 25%/100% 100% no-repeat;
 }

 .foot ul {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }

 .foot li img {
     margin: 50px 0;
 }

 .foot li {
     align-content: center;
     font-size: 18px;
 }

 .foot h2 {
     color: #eb7800;
     font-weight: bold;
     text-transform: uppercase;
 }

 .fot h4 {
     margin: 40px 0;
     text-transform: uppercase;
 }

 .ft {
     display: flex;
     margin: 0 600px;
     flex-wrap: wrap;
     justify-content: space-between;
 }
::placeholder{
    color: white;
    
}

 .ft input {
     color:white;
     padding: 0 3px;
     height: 35px;
     width: 230px;
     margin-bottom: 10px;
     background-color: #d1d6dd;
     border: 1px solid #d1d6dd;
     background: none;
}
 .i1 {
     border-radius: 10px 0 0 0;
 }

 .i2 {
     border-radius: 0 10px 0 0;
 }

 .ft textarea {
     padding: 0 3px;
     font-size: 20px;
     color: white;
     width: 100%;
     border-radius: 0 0 10px 10px;
     margin-bottom: 20px;
     background-color: #d1d6dd;
     border: 1px solid #d1d6dd;
     background: none;
     min-width: 25%;
 }
.send{
    color: white;
    width: 150px;
    height: 40px;
    border: 1px solid #f9fbff;
    border-radius: 5px;
    background: none;    
}
